{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<section id="pagecontent" class="body">
	<script>
	Mousetrap.bind('left', prev);
	Mousetrap.bind('right', next);


	function prev(element)
	{
		document.getElementById('prev').click();
	}
	function next(element)
	{
		document.getElementById('next').click();
	}
	</script>
  <article>
    <header>
	<div>
		<div style="float:left">
		      <h1 class="entry-title">
		        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
		           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
		      </h1>
		</div>
		<div style="float:right"><h2>{% include 'article_infos.html' %}</h2></div>
	</div>

	<div style="clear:both"></div>

 {% if article.prev_article %}
	<div style="float:left">
         <a  class= "prev" href="{{ SITEURL }}/{{ article.prev_article}}" id="prev">
         &#10094; prev
         </a>
	</div>
 {% endif %}
 {% if article.next_article %}
	<div style="float:right">
         <a class= "next" href="{{ SITEURL }}/{{ article.next_article}}" id="next">
         next &#10095;
         </a>
	</div>
 {% endif %}
      {% include 'twitter.html' %}
    </header>
    <center>
      {{ article.content }}
      
      <div id="paypal-button-container"></div>
        <!-- Sample PayPal credentials (client-id) are included -->
        <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>

        <script>
          const fundingSources = [
            paypal.FUNDING.PAYPAL,
              paypal.FUNDING.VENMO,
              paypal.FUNDING.CARD
            ]

          for (const fundingSource of fundingSources) {
            const paypalButtonsComponent = paypal.Buttons({
              fundingSource: fundingSource,

              // optional styling for buttons
              // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
              style: {
              	layout: 'horizontal',
              	color: 'black',
                shape: 'rect',
                width: 50,
              },

              // set up the transaction
              createOrder: (data, actions) => {
                // pass in any options from the v2 orders create call:
                // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
                const createOrderPayload = {
                  purchase_units: [
                    {
                      amount: {
                        value: '88.44',
                      },
                    },
                  ],
                }

                return actions.order.create(createOrderPayload)
              },

              // finalize the transaction
              onApprove: (data, actions) => {
                const captureOrderHandler = (details) => {
                  const payerName = details.payer.name.given_name
                  console.log('Transaction completed!')
                }

                return actions.order.capture().then(captureOrderHandler)
              },

              // handle unrecoverable errors
              onError: (err) => {
                console.error(
                  'An error prevented the buyer from checking out with PayPal',
                )
              },
            })

            if (paypalButtonsComponent.isEligible()) {
              paypalButtonsComponent
                .render('#paypal-button-container')
                .catch((err) => {
                  console.error('PayPal Buttons failed to render')
                })
            } else {
              console.log('The funding source is ineligible')
            }
          }
        </script>
      
    </center>
    

    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
    <div class="comments">
      <h2>Comments !</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        var disqus_identifier = '{{ article.url }}';
        var disqus_url = '{{ SITEURL }}/{{ article.url }}';
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
    {% endif %}

  </article>
</section>
{% endblock %}
